<div class="jumbotron">
  <h2>Elixir is AWESOME!!!</h2>
  <p class="lead">Don't waste your time with anything else.</p>
</div>

<img class="reaction-gif" src="https://media.giphy.com/media/GA2FNpP1kAQNi/giphy.gif" alt="">
